#wrapper {
  margin:0 auto;
  width:960px;
}

#container {
  position:relative;
  height:300px;
  width:960px;
  border:1px solid
}
.person {
  display:none;
  position:absolute;
  width:50px;
  height:50px;
  background:#ccc;
}

#control {
  position:relative;
  margin-top: 10px;
  text-align: center;
}
#control button{
  position:absolute;
  margin: 0 20px;
  width: 80px;
  height: 40px;
  font-size: 20px;
}
#up {
  left: 400px;
}
#left {
  left: 300px;
  top: 50px;
}
#right {
  left: 500px;
  top: 50px;
}
#down {
  left: 400px;
  top: 100px;
}

#tip {
  display:none;
}
@media (max-width: 767px) {
  #tip {
    display:block;
    background:yellow;
  }
}
